body {
  width: 100%;
  margin: auto;
  height: 100vh;
  color: #f5f6f7;
  /* background provided by https://cssgradient.io/  not think that much about colors, think more about facts*/
  background-image: url("https://nalunprice.files.wordpress.com/2013/04/fight-club-10th-anniversary-edition-1999-1080p-brrip-x264-yify-mp4_snapshot_02-15-48_2013-03-28_06-44-45.jpg");
}
label {
  display: block;
  margin: 0.5rem 0;
}

main {
  margin: 0 15%;
  border-radius: 60px;

  padding: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(0, 27, 88, 0.8);
}
